body{
    background-color: #cad2c5;
}
.head{
    padding: 2%;
    background-color: #2f3d46;
}
.text{
    color: white;
}
.search{
    padding: 2%;
    border-radius: 10px;
    color:white;
}

.colTwo{
    width: 30vh;
    height: 30vh;
    background-color: rgb(235, 231, 231);
}
.colTree{
    height: 20vh;
}
.second{
    padding: 2.2%;
}
.radius{
    border-radius: 50px;
}
img{
    
    background-color: white;
}